.container{
    
    margin: 0 auto;
    background: #c4bea8;
    font-size: 24px;
    padding: 25px;
}
.parallax{
    background: url('IMG.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed; 
    height: 800px;
}